body {
	background-color: rgb(253, 229, 229);
	margin: 0;
	padding: 0;
	overflow: auto;
	font-style: italic;
}

header {
	display: flex;
	flex-direction: column;
	background-color: rgb(78, 70, 70);
	color: white;
	margin: none;
	padding: none;
	align-items: start;
	font-size: 20px;
}

header h1 {
	margin: 0;
	padding: 0;
}

#imagenheader {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0px solid black;
}

#logoheader {
	height: 55px;
	width: 55px;
	padding: 10px;
}

.encabezado {
	display: flex;
	flex-direction: row;
	justify-items: center;
}

header {
	display: flex;
	flex-direction: column;
	background-color: rgb(78, 70, 70);
	color: white;
	margin: 0;
	padding: 0;
	align-items: start;
	font-size: 30px;
}
header h1 {
	margin: 5px;
	padding: 5px;
	font-family: "Great Vibes", cursive;
}

#imagenheader {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0px solid black;
}
#logoheader {
	height: 50px;
	width: 50px;
	padding: 0;
}
.encabezado {
	display: flex;
	flex-direction: row;
}
nav {
	background-color: rgb(78, 70, 70);
	border: 1px solid black;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-items: end;
}
body nav a img {
	height: 50px;
}

.card-group {
	background-color: rgb(253, 229, 229);
}

.footertipo {
	background-color: rgb(78, 70, 70);
	color: white;
}

ul {
	margin-left: 100;
	padding-left: 50;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-items: end;
}

a {
	margin: 10px;
	color: white;
}

p {
	font-size: 22px;
	height: auto;
	width: 85%;
	padding: 10;
	margin: 20px;
	border: 1px solid black;
}

@media screen and (max-width: 767px) {
	.header-text {
		font-size: 1em;
	}
	#logoheader {
		height: 25px;
		width: 25px;
		padding: 5px;
	}
}
.card-group
{
	background-color: blue;
}